@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL STYLES */
html {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  background: #f8fafc;
}

/* Button utilities */
.btn-primary {
  @apply bg-indigo-600 hover:bg-indigo-700 text-white font-medium py-3 px-6 rounded-lg shadow transition duration-200;
}

.btn-danger {
  @apply bg-red-600 hover:bg-red-700 text-white font-medium py-2 px-4 rounded-lg shadow transition duration-200;
}
